# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
art-server/art-server
.vscode/
go-fastdfs/*
art-server/__debug_bin
art-server/openart.log